# Deployment used by `bunx convex dev`
CONVEX_DEPLOYMENT=

PUBLIC_CLERK_PUBLISHABLE_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
PUBLIC_CONVEX_URL=
VITE_CONVEX_URL=
CLERK_SECRET_KEY=
CLERK_JWT_ISSUER_DOMAIN=
PUBLIC_CLERK_SIGN_IN_URL=/login
PUBLIC_CLERK_SIGN_UP_URL=/login
PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/scanner
PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/scanner

DATABASE_URL=
DATABASE_AUTH_TOKEN=
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

MASSIVE_API_KEY=
